form {
  display: flex;
  align-items: center;
  border: 1px solid #545454;
  border-radius: 3px;
  padding: 40px;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

input {
    width: 100%;
    line-height: 20px;
    margin: 10px 0;    
}

#button {
  width: 110px;
  border-radius: 30px;
  padding: 10px;
  margin: 15px;
  
  &:hover{
    background: #752a0e;
  }
}

#text, #analysis {
  line-height: 1.5; 
  padding: 17px;
}
